[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==21.5b0"

[packages]
PyPDF2 = "*"
requests = "*"
pdfminer = "*"
matplotlib = "*"
nltk = "*"
docx = "*"
python-docx = "*"
flask = "*"
flask_cors = "*"
bs4 = "*"

[requires]
python_version = "3.7.6"
